/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2") format("woff2"); /* this one is used in https://fonts.googleapis.com/icon?family=Material+Icons */
}

.mti {
  font-family: 'Material Icons';
  font-weight: normal !important;
  font-style: normal;
  font-size: 16px; /* Preferred icon size */
  display: inline-block;
  line-height: 18px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-decoration:none !important;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  
  /* If the icon is used for click events */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

* {
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

body {
  background-color: #f0f0f0;
  font-size: 100%;
}

.me {
  display:none;
}

.loading {
  position:fixed;
  top:50%;
  left:50%;
  z-index: 1000;
  margin-left:-75px;
  margin-top:-75px;
}

.loading-hide {
  display:none;
}

h1, h2, h3, h4, h5 {
  padding:0;
  margin:0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  color:#888;
}

header {
  border-top:5px solid #1976d2;
  text-align: center;
  background-color: #fff;
  padding:2em;
  box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.3);
}

p {
  margin-top:0;
}


header h1 span.s {
  display:none;
}

header nav {
  display:flex;
  width: 800px;
  margin: 0 auto;
  flex-direction: column;
}

header nav a {
  text-decoration: none;
  color:rgb(246, 147, 110);
  font-size:90%;
}

header nav a:hover {
  color:rgb(241, 66, 0);
}

header nav a .ico {
  display:none;
}

/* new */
header nav a .ico {
  background-size:24px 24px;
  width:24px;
  height:24px;
  background-color:#666;
  border:1px solid #666;
  display:inline-block;
  margin-right:5px;
  border-radius:5px;
}

header nav > a:first-child {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  color:#999;
}

/* new */
header nav > a:first-child,
header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav > a:first-child:hover {
  color:#666;
}

.socmed {
  display:flex;
  gap:3em;
  justify-content: center;
}

.wrap {
  width:800px;    
  margin:0 auto;
}

.sec {
  margin:2em 0;
  display:grid;
  grid-template-columns: 175px 1fr;
  gap:2em;
}

/*
.sec > *:first-child {
  width:175px;
}
*/

.sec > *:last-child {
  background-color: #fff;
}

.sec figure {
  margin:0;
}

.sec figure img {
  background-color:#999;
  width:150px;
  height:150px;
  border-radius: 99999px;
  border:5px solid #aaa;
  display: block;
  opacity: 0.5;
}

.sec .info figure img {
  max-width:100%;
  height: auto;
  background-color: transparent;
  border: 0px;
}

.info {
  border-left:5px solid #ddd;
  border-top:0px solid #ddd;
  color:#888;
  box-shadow: 5px 5px 10px -10px rgba(0,0,0,0.3);
  padding: 1.5em;
  font-family:Arial, Helvetica, sans-serif;
}

.info-edu {
  display:grid;
  grid-template-columns: 100px 1fr;
  gap:1em;
}

.info a {
  color:inherit
}

h2 {
  color:#555;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid black;
  line-height: 0;
  margin:2em 0;
}

h2 span {
  background-color:#eee;
  padding:0 1em;
}

h2 .mti {
  font-size: 28px;
  line-height: 0;
  vertical-align: top;
  margin-right: 5px;
  color:#000;
}

.sec hgroup {
  text-align: right;
}

.sec hgroup a {
  color:inherit;
}

.sec hgroup img {
  max-width: 100%;
  margin-bottom:10px;
}

.sec hgroup h3 {
  font-size:115%;
  font-weight: normal;
}

.sec hgroup h4 {
  font-weight: normal;
  font-size: 100%;
}

.sec hgroup h5 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 85%;
}

.sec .info {
  font-size:100%;
}

.sec .info p:last-child,
.sec .info ul:last-child {
  margin-bottom:0;
}

/*.sec:hover .info,*/
.sec.h .info {
  border-color:rgb(241, 66, 0);
}

/*.sec:hover *,*/
.sec.h * {
  color:#333;
}

/* .sec:hover img, */
.sec.h img {
  opacity: 1;
}

.badges ul,
.badges li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.badges ul {
  display:flex;
  flex-wrap: wrap;
  gap:5px;
}

.badges li {
  font-size:90%;
  color:#fff !important;
  background-color:#aaa;
  padding:5px 7px;
  border-radius: 5px;
}

.sec.h .badges li {
  background-color: #1976d2;
}

footer {
  color:#aaa;
  background-color:#333;
  font-family:Arial, Helvetica, sans-serif;
  padding:2em;
  font-size:80%;
  text-align: center;
  min-height: 150px;
}

footer a {
  color:#aaa;
  text-decoration: underline;
}

footer ul,
footer li {
  list-style: none;
  margin:0;
  padding:0;
}

footer li {
  display:inline-block;
}

footer li:after {
  content : "|";
  margin:0 5px;
}

footer li:last-child::after {
  content : "";
}

.ico {
  background-size: 28px 28px;
}

.ico-email {
  background-image: url(../img/email-13-64.png);
}
.ico-fb {
  background-image: url(../img/facebook-3-64.png);
}
.ico-tw {
  background-image: url(../img/twitter-3-64.png);
}
.ico-li {
  background-image: url(../img/linkedin-3-64.png);
}

/* new */
header nav a .ico-fb {
  background-color: #4267B2 ;
  border-color: #4267B2 ;
}
header nav a .ico-tw {
  background-color: #1DA1F2 ;
  border-color: #1DA1F2 ;
}
header nav a .ico-li {
  background-color: #0072b1 ;
  border-color: #0072b1 ;
}


@media screen and (max-width: 830px) {
  header {
    background-color: #1976d2;
    color:#fff;
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    top:0;
    border:0;
    z-index: 1;
  }

  header.s {
    top:0;
  }

  header h1 {
    display:flex;
    word-spacing: 5px;
    font-size: 28px;
    align-items:center;
    padding-left:10px;

  }
  header h1 span {
    display:none;
  }

  header h1 span.s {
    display:inline-block;
  }

  header nav {
    display:flex;
    margin: 0;
    align-items: center;
    justify-content: end;
    flex-direction: row;
  }

  header nav a:first-child,
  header nav a {
    color:#fff;
    padding:10px;
    margin:0;
    border:0;
  }

  header nav a:first-child:hover {
    color:rgb(241, 66, 0);
  }

  header nav a .ico {
    display: block;
    width: 28px;
    height: 28px;
    
    background-size: 28px 28px;
    border: 0;
    margin-right: 0;
  }

  header nav a .txt {
    display:none;
  }

  header nav a:first-child:hover,
  header nav a:hover {
    background-color:#0f4880;
  }

  .socmed {
    gap:0;
  }

  .wrap {
    width: 100%;
  }

  .sec {
    /*
    flex-direction: column;
    align-items: center;
    */
    grid-template-columns: 1fr;
    justify-items: center;
    gap:1.5em;
  }

  .sec > *:first-child {
    width:auto;
    flex-grow: 1;
  }

  .sec figure img {
    margin:0;
    width:200px;
    height:200px;
  }

  .sec hgroup {
    text-align: center;
  }

  .info {
    width:85%;
    border-left:0;
    border-top-width: 5px;
  }

  .info {
    position: relative;
    background: #fff;
/*      border-top: 5px solid #f14200;*/
  }
  .info:after, .info:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .info:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -12px;
  }
  .info:before {
    border-color: rgba(241, 66, 0, 0);
    border-bottom-color: #ddd;
    border-width: 18px;
    margin-left: -18px;
  }

  /*.sec:hover .info::before,*/
  .sec.h .info::before {
    border-bottom-color:rgb(241, 66, 0);
  }

  .badges ul {
    justify-content: center;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
