<!doctype html>
<html class="no-js" lang="">

<head>
  <!-- If you are here, then you're looking for something. -->
  <!-- There is nothing here. Really.-->

  <meta charset="utf-8">
  <title>Paulo Bongato</title>
  <meta name="description" content="Helping technologies grow businesses through the business of technology.">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  -->

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">

  <script src="https://unpkg.com/vue@3"></script>

</head>

<body class="mob">

<div id="me">
  <header>
    <h1><span class="s">{{name.initials}}</span><span>{{name.full}}</span></h1>
    <nav>
      <a :href="`mailto:${email}`" class="email"><span class="ico ico-email"></span><span class="txt">{{email}}</span></a>
      <div class="socmed">
        <a target="_blank" :href="`https://facebook.com/${social.facebook}`" ><span class="ico ico-fb"></span><span class="txt">facebook.com/{{social.facebook}}</span></a>
        <a target="_blank" :href="`https://twitter.com/${social.twitter}`"><span class="ico ico-tw"></span><span class="txt">twitter.com/{{social.twitter}}</span></a>
        <a target="_blank" :href="`https://linkedin.com/in/${social.linkedin}`"><span class="ico ico-li"></span><span class="txt">linkedin.com/in/{{social.linkedin}}</span></a>
      </div>
    </nav>
  </header>

  <main>
    <div class="wrap">
      <section class="sec">
        <figure>
          <img :src="profile"/>
        </figure>
        <div class="info">
          {{about}}
        </div>
      </section>
    </div>

    <div class="wrap">
      <h2><span><b class="mti">work_history</b> Professional Experience</span></h2>

      <section class="sec" v-for="work in works">
        <hgroup>
          <a :href="work.url" target="_blank">
            <img :src="work.logo"/>
          </a>
          <h3 v-html="work.title"></h3>
          <h4>
            <a :href="work.url" target="_blank">
              {{ work.company }}
            </a>
          </h4>
          <h5>{{ work.years }}</h5>
        </hgroup>
        <div class="info" v-html="work.description">
        </div>
      </section>
    </div>

    <div class="wrap">
      <h2><span><b class="mti">school</b> Education</span></h2>

      <section class="sec" v-for="edu in education">
        <hgroup>
          <h4 v-html="edu.degree"></h4>
          <h5 v-html="edu.years"></h5>
        </hgroup>
        <div class="info info-edu">
          <figure>
            <a :href="edu.url" target="_blank">
              <img :src="edu.logo"/>
            </a>
          </figure>
          <p>
            <b v-html="edu.title"></b>
            <br/>
            <a :href="edu.url" target="_blank" v-html="edu.school"></a>
            <br/>
            <span v-html="edu.address"></span>
          </p>
        </div>
      </section>
    </div>        
    
    <div class="wrap">
      <h2><span><b class="mti">star</b> Competencies</span></h2>
      <section class="sec" v-for="comp in competencies">
        <hgroup>
          <h3 v-html="comp.title"></h3>
        </hgroup>
        <div class="info badges" v-html="comp.description">
        </div>
      </section>
    </div>
        
    <div class="wrap">
      <h2><span><b class="mti">saved_search</b> Others</span></h2>

      <section class="sec" v-for="other in others">
        <hgroup>
          <h3 v-html="other.title"></h3>
        </hgroup>
        <div class="info" v-html="other.description">
        </div>
    </div>    
  </main>

  <footer>
    <p>Site was made by me using:</p>
    <ul>
      <li><a href="https://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a></li>
      <li><a href="https://vuejs.org/" target="_blank">Vue.js</a></li>
      <li><a href="https://fonts.google.com/icons" target="_blank">Material Icons</a></li>
      <li>Native HTML/JS/CSS</li>
    </ul>
  </footer>
</div>

<div id="loading" class="loading">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" width="150px" height="150px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
    <circle cx="50" cy="50" r="26" stroke-width="8" stroke="#1976d2" stroke-dasharray="40.840704496667314 40.840704496667314" fill="none" stroke-linecap="round">
      <animateTransform attributeName="transform" type="rotate" dur="4.761904761904762s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
    </circle>
    <circle cx="50" cy="50" r="17" stroke-width="8" stroke="#f14200" stroke-dasharray="26.703537555513243 26.703537555513243" stroke-dashoffset="26.703537555513243" fill="none" stroke-linecap="round">
      <animateTransform attributeName="transform" type="rotate" dur="4.761904761904762s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50;-360 50 50"></animateTransform>
    </circle>
  </svg>
</div>

  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. 
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>-->
</body>

</html>
